@import 'styles/variables.scss';
@import 'styles/page.scss';

.detail-page {
  margin-top: 8.5rem;

  .data-grid {
    @extend .data-grid-custom;

    .css-ganwqa-MuiDataGrid-root .MuiDataGrid-cell {
      padding-top: $space-XS;
      overflow: auto;
      white-space: initial;
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;

      .cell-action {
        margin-top: -$space-XXS;
      }
    }
  }
}
