@import 'styles/variables.scss';
@import 'styles/mui/dialog.scss';

.preview-dialog {
  @extend .form-dialog;

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    min-height: 20rem;
    max-width: 75rem;
    width: 62.5rem;
  }

  .data-grid {
    margin-top: $space-M;
    width: 100%;
    background-color: $color-white;

    .css-1s0hp0k-MuiDataGrid-columnHeadersInner {
      background-color: $color-blue-light;
    }
  }
}
