@import './font.scss';
@import './variables.scss';
@import './margin.scss';

//MUI custom css
@import './mui/common.scss';
@import './mui/button.scss';
@import './mui/text-field.scss';
@import './mui/select.scss';

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#tsparticles {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

legend {
  width: 0px !important;
}
