@import 'styles/variables.scss';
@import 'styles/font.scss';
@import 'styles/mui/dialog.scss';

.trunk-dialog {
  @extend .form-dialog;

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    min-height: 35rem;
  }
}
